<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
    <body>
    <header>
    <h1>Edit.ejs page <%= article.title %>'s Info</h1>

        <h1 class="logo" id="top">No Sugars No Grains Food Recipes</h1>
            <nav>
                <li><a href="/">Home</a></li>
                <li><a href="/articles/index.ejs">Recipe articles</a></li>
                <li><a href="/articles/new.ejs">Add Recipe articles</a></li>
                <li><a class="current" href="articles/edit.ejs">Search Recipe articles</a></li>
            <li><a href="/views/recipes/index.ejs">Recipe </a></li>

                <li><a href="./views/recipes/new.ejs">Add Recipe </a></li>
                <li><a href="./views/recipes/edit.ejs">Search Recipe </a></li>
            </nav>
            </header>
        <main>
        <h2>Article Attributes: </h2>
        <form action="/articles/<%= article._id %>?_method=PUT" method="POST">
        
        <label>Recipes</label><br>
        <select name="recipes">
        <% for(let i = 0; i < recipe.length; i++) { %>
        <option value="<%= recipe[i]._id %>)"
        <% if(recipe[i]._id.toString() === article.recipe._id.toString()) { %>
   selected
    <% } %>
    ><% recipe[i].name %></option>
    <% } %>
    </select><br>
    <label>Title</label><br>
    <input type="text" name="title"><%= article.title %></textarea><br>
    <label>Body</label><br>
    <input type="text" name="body"><%= article.body %></textarea><br>

<input type="submit" value="Update Article"/>
</form>
</main>
    </body>
</html>