<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
    <body>
    <header>

        <h1 class="logo" id="top"><%= article.title%> No Sugars No Grains Food Recipes</h1>
            <nav>
                <li><a class="current" href='./articles/show.ejs'>Articles Show Page</a></li>
                 <li><a href='../views/recipes/index.ejs'>Back to Recipes</a></li>
                <li><a href='/views/articles/index.ejs'>Recipe articles</a></li>
                <li><a href='/views/articles/new.ejs'>Add Recipe articles</a></li>
                
            </nav>
    </header>
<main>
<section>
<h2>Articles Show.ejs Title: <%= article.title %></h2>
<h3>Author: <%= article.recipe.name %></h3>
<p><%= article.body %></p>
</section>

<section>

<form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
<input type="submit" value="Delete Article"/>
</form>
</section>

<section>
<a href="/articles/<%= article._id%>/edit">Edit Article</a>
  </section>
</main>
    </body>
</html>