<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
    <body>
    <header>
    <section class="text-center about">
        <h1>No Sugars No Grains Food Recipes</h1>
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
        <span class="fa fa-group"></span>
        </div>
       </div>
        <h1>Show Page for <%= recipe.title%></h1>
        <nav>
            <ul>
                   <li> <a href="/">Home</a></li>
                    <li><a href="/recipes">Recipes Index</a></li>
                    </ul>
                <%#logout option%>
            <%if(alert!== undefined){%>
                <p><%=alert%></p>
            <%}%>    
            <% if(logged){ %>
            <li><a href="/user/logout">Logout</a></li>
            <% } %>
            <%#logout option%>
                </nav>
                </section>
    </header>
     <%#Background Image %>
        <style> body { 
          background-image: url("https://images.unsplash.com/photo-1560155016-bd4879ae8f21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80");
          background-repeat: no-repeat;
          width: 100%;
          }
          </style>
    <main>

        <section> 
        <%# content for recipe %>
        <div>
        
        <p>Recipe by: <%= recipe.author %></p>
        <p>Description: <%= recipe.description %></p>
        <p>Recipe Ingredients: <%= recipe.ingredients %></p>
        <p>Recipe Serves: <%= recipe.serving%></p>
       
        
        <img class="recipe-show-photo" src="<%=recipe.photo%>">
       
       <button><a href ="/recipes/<%= recipe._id %>/edit">Edit Recipe</a></button>
        </section>
   
        <section>
       <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
       <input type="submit" value="Delete Recipe"/>
       </form>
        </section>
   
    </main>
    <button type="button" id="topButton" href="#top"> Back to Top</button>
    </body>
</html>